[client]
port = 3306
socket = /var/lib/mysql/mysql.sock

[mysqld]
user = mysql
pid-file = /var/run/mysqld/mysqld.pid
socket = /var/lib/mysql/mysql.sock
port = 3306
basedir = /usr
datadir = /var/lib/mysql
tmpdir = /tmp
lc-messages-dir = /usr/share/mysql
skip-external-locking

# Instead of skip-networking the default is now to listen only on
# localhost which is more compatible and is not less secure.
bind-address = 0.0.0.0

# Fine Tuning
key_buffer_size = 16M
max_allowed_packet = 16M
thread_stack = 192K
thread_cache_size = 8
myisam-recover-options = BACKUP
max_connections = 100
table_open_cache = 64
tmp_table_size = 32M
max_heap_table_size = 32M

# Logging
log_error = /var/log/mysql/error.log
slow_query_log_file = /var/log/mysql/mysql-slow.log
long_query_time = 2
log_slow_verbosity = query_plan

# Custom
sql_mode = NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

# Security Settings
symbolic-links = 0
skip-name-resolve

[mysqldump]
quick
quote-names
max_allowed_packet = 16M

[mysql]
# No auto-rehash. See mysql_auto_rehash directive in the manual.
# Rehashing the command-line interface on some systems can be slow.
# Disable it for faster command-line usage.
no-auto-rehash

[isamchk]
key_buffer_size = 16M
