[mysqld]
# Options read by mysqld, which includes MariaDB server and MySQL server

port=3306
datadir=/var/lib/mysql
# Directory where the data is stored

#disable_unix_socket

#skip_networking is 0 by default
bind-address = *
